.featured-content {
  background-color: $color__background-dark;
  overflow: hidden;
  position: relative;
  z-index: $z-index__default;
}

.no-js .featured-content--slide:not(:first-child) {
  display: none;
}

.flex-direction-nav {
  display: none;
}

.flex-control-paging {
  bottom: 0;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: $z-index__default + 1;

  li {
    display: inline-block;
    margin: 15px;
  }

  a {
    border: 3px solid $color__white;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    text-indent: -9999px; // TODO better way to hide text?
    width: 20px;

    &.flex-active {
      background-color: $color__white;
    }
  }
}
