.site-footer {
	@include clearfix;

	padding-bottom: 1.5em;
	transition: background $timing__default;

	.footer-dark & {
		background-color: $color__background-dark;
	}

	.footer-accent & {
		background-color: $color__accent;
	}
}

.footer-widgets {
	background-color: #f5f5f5;
	padding-bottom: 3em;

	.footer-dark &,
	.footer-accent & {
		background-color: $color__background-dark;
	    color: $color__white;
	}

	.widget:first-child {
		margin-top: 3em;
	}
}

.site-info {
	@include site-width($content__width-large);

	padding-top: 1.5em;
	text-align: center;

	.footer-dark &,
	.footer-accent & {
		color: $color__white;
	}

	a:not(.button) {
		@include link;

		.footer-dark &,
		.footer-accent & {
			color: $color__white;
		}
	}
}
