.site-footer {
	@include clearfix;

	padding-bottom: 1.5em;
	padding-top: 1.5em;

	a {
		@include link;
	.accent-footer & {
		background-color: $color__accent;
	}
	}
}

.site-info {
	@include site-width($content__width-large);

	text-align: center;

	.accent-footer & {
		color: $color__white;
	}

	a:not(.button) {
		@include link;

		.accent-footer & {
			color: $color__white;
		}
	}
}
