.site-header {
  @include clearfix;

  background-color: $color__accent;
  color: $color__white;
  left: 0;
  max-height: $height__nav-bar;
  position: absolute;
  right: 0;
  top: 0;
  transition: all $timing__default linear;
  will-change: transform;
  z-index: $z-index__default + 2;

  @include min-width($breakpoint__tablet-portrait--aesop) {

    .aesop-sticky-map.aesop-sticky-map-top & {
      top: 220px;
    }

    .aesop-sticky-map.aesop-sticky-map-left & {
      left: 250px;
    }

    .aesop-sticky-map.aesop-sticky-map-right:not(.overlay-open) & {
      right: 250px;
    }
  }

  .has-featured-image &,
  .has-featured-post:not(.paged) &,
  .archive & {
    background-color: transparent;
  }

  .overlay-open & {
    background-color: transparent;
    z-index: $z-index__default + 3;

    .site-branding {
      display: none;
    }
  }

  .overlay-open.aesop-sticky-map & {
    z-index: 122;
  }

  body.admin-bar & {
    top: $height__wp-top-bar-mobile;

    &.headroom--not-top {
      top: 0;

      @include min-width($breakpoint__tablet-portrait) {
        top: auto;
      }

      @include min-width($breakpoint__wp-top-bar) {
        top: $height__wp-top-bar-desktop;
      }
    }

    @include min-width($breakpoint__wp-top-bar) {
      top: $height__wp-top-bar-desktop;
    }
  }
}

.site-header.headroom {
  position: fixed;

  &.headroom--top {
    background-color: transparent;
    color: $color__white;

    .blog & {
      background-color: $color__accent;
    }

    .blog.has-featured-post:not(.paged) & {
      background-color: transparent;
    }
  }

  &.headroom--not-top {
    background-color: $color__accent;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  }

  &.headroom--unpinned {
    transform: translate3d(0, -100%, 0);
  }
}

.site-branding {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.site-meta {
  display: flex;
  margin-right: auto;
}

.custom-logo {
  display: block;
  margin: 10px 10px 10px 20px;
  max-height: 55px;
  width: auto;

  // IE-specific style because SVGs don't scale properly
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    height: 55px;
  }
}

.site-title:not(.page-title) {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: $font__weight-normal;
  margin: 20px 10px;

  .custom-logo-link:not([style="display:none;"]) + & {
    display: none;

    @include min-width($breakpoint__tablet-portrait) {
      display: inline-block;
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      color: inherit;
    }
  }
}

.site-title.page-title a:hover {
  border-color: transparent;
}

.site-description:not(.entry-excerpt) {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  display: none;
  font-size: 1rem;
  font-weight: $font__weight-normal;
  line-height: 1.5rem;
  margin: 28px 10px 22px;
  padding-left: 20px;

  @include min-width($breakpoint__tablet-portrait) {
    display: inline-block;
  }

  &:empty {
    display: none;
  }
}
