.svg-icon {
  align-self: center;
  display: inline-flex;
  height: 1em;
  position: relative;
  stroke: currentColor;
  width: 1em;

  .icon-accent & use {
    stroke: $color__accent;

    .post-navigation &,
    .video-toggle & {
      stroke: currentColor;
    }
  }

  .nav-toggle & {
    height: inherit;
    width: inherit;
  }

  .video-toggle & {
    margin-bottom: 30px;
  }

  .showsub-toggle & {
    transition: all 200ms;
  }

  .showsub-toggle.sub-on & {
    transform: rotateX(180deg);

    .mini-menu-container & {
      transform: rotateX(0deg);
    }

    .mini-menu-container .sub-menu & {
      transform: rotateX(180deg);
    }
  }

  .entry-header & {
    opacity: 0.75;

    @include min-width($breakpoint__tablet-landscape) {
      height: 1.25em;
			margin-left: -50px;
			margin-top: 12px;
			position: absolute;
			width: 1.25em;
		}
  }

  .cat-links &,
  .tags-links &,
  .edit-link & {
    left: 0;
		position: absolute;
		top: 6px;
  }
}

.svg-fallback {
  display: none;

  .no-svg & {
    display: inline-block;
  }
}

svg.hide {
  display: none;
}
