.menu {
	list-style: none;
	margin: 0;
	padding-left: 0;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	.sub-menu {
		box-shadow: none;
		height: 0;
		overflow: hidden;
		top: auto;
		width: 100%;
	}

	ul.sub-on {
		height: auto;
	}

	a {
		display: block;
	}

	.menu-item.button > a {
		@include button;
		@include button-style($color__text-main);

		display: block;
	}

	.menu-item.button:not(.default) > a {

		.overlay-dark .overlay &,
		.footer-dark .site-footer &,
		.footer-accent .site-footer & {
			@include button-style($color__white);

			color: $color__text-main;

			&:active {
				color: $color__text-main;
			}
		}
	}

	.menu-item.button.ghost > a {
		@include button-style($color__text-main, true);
	}

	.menu-item.button.ghost:not(.default) > a {

		.overlay-dark .overlay &,
		.footer-dark .site-footer &,
		.footer-accent .site-footer & {
			@include button-style($color__white, true);
		}
	}

	.menu-item.button.default > a {
		@include button-style($color__accent);
	}

	.menu-item.button.ghost.default > a {
		@include button-style($color__accent, true);
	}
}

.showsub-toggle {
	background: transparent;
	border: 0;
	border-radius: 25px;
	box-shadow: none;
	color: inherit;
	float: right;
	line-height: 0;
	margin-left: 10px;
	padding: 6px;

	&:hover {
		background-color: rgba(0, 0, 0, 0.1);
		color: inherit;

		.overlay-dark .overlay & {
			background-color: rgba(255, 255, 255, 0.1);
		}
	}
}

.mini-menu-container {
	display: none;
	float: right;
	margin-right: 120px;

	@include min-width($breakpoint__desktop) {
		display: block;
	}

	.menu {
		display: inline-block;
	}

	li {
		display: inline-block;
		padding: 25px 10px 15px;
		position: relative;
	}

	a {
		@include link($color__white);

		color: inherit;
		display: inline-block;

		&:hover,
		&:focus,
		&:active {
			color: inherit;
		}
	}

	.menu > .menu-item.button,
	.menu > .menu-item.button:hover {
		background-color: transparent;
	}

	.menu > .menu-item.button > a {
		@include button;
		@include button-style($color__text-main);

		line-height: normal;
		margin-bottom: -5px;
		margin-top: -5px;
		padding-bottom: 5px;
		padding-top: 5px;
	}

	.menu > .menu-item.button.ghost:not(.default) > a {
		@include button-style($color__text-main, true);

		border-color: $color__white;
		color: $color__white;

		&:hover {
			background-color: $color__white;
			border-color: $color__white;
			color: $color__text-main;
		}

		&:active {
			color: $color__white;
		}

		&:hover:active {
			color: $color__text-main;
		}
	}

	.menu > .menu-item.button.default > a {
		@include button-style($color__accent);
	}

	.menu > .menu-item.button.default.ghost > a {
		@include button-style($color__accent, true);
	}

	.has-chapters & {
		padding-right: 40px;
	}

	.showsub-toggle {
		color: inherit;
	}

	.sub-menu {
		background-color: $color__white;
		border: 1px solid rgba(0, 0, 0, 0.25);
		border-radius: 3px;
		color: $color__text-main;
		display: none;
		margin-top: -10px;
		min-width: 100%;
		overflow: visible;
		padding-bottom: 10px;
		padding-top: 10px;
		position: absolute;
		right: 0;
		top: 100%;

		&.sub-on {
			display: block;
		}

		&:before,
		&:after {
			border: 10px solid transparent;
			border-bottom-color: rgba(0, 0, 0, 0.25);
			bottom: 100%;
			content: "";
			position: absolute;
			right: 15px;
		}

		&:after {
			border-bottom-color: $color__white;
			margin-bottom: -1px;
			margin-top: 10px;
		}

		li {
			display: block;
			padding: 0;
		}

		a {
			border: 0;
			display: block;
			padding: 15px 10px 15px 25px;

			&:hover {
				background-color: rgba(0, 0, 0, 0.1);
			}
		}

		.sub-menu {
			border: 0;
			margin: 0;
			padding: 0;
			position: static;

			&:before,
			&:after {
				display: none;
			}
		}
	}
}
