.menu {
	list-style: none;
	margin: 0;
	padding-left: 0;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	.sub-menu {
		box-shadow: none;
		height: 0;
		overflow: hidden;
		top: auto;
	}

	ul.sub-on {
		height: auto;
	}

	a {
		display: block;
	}
}

.showsub-toggle {
	background: transparent;
	border: 0;
	box-shadow: none;
	color: inherit;
	float: right;
	line-height: 0;
	padding: 6px;
}

.menu-mini-menu-container {
	display: none;
	float: right;
	margin-right: 120px;

	@include min-width($breakpoint__tablet-portrait) {
		display: block;
	}

	.menu {
		display: inline-block;
	}

	li {
		display: inline-block;
		padding: 23px 10px;
	}

	a {
		@include link($color__white);

		color: $color__white;
		display: inline-block;

		&:hover {
			color: inherit;
		}
	}
}
