@import "navigation-vertical";

.nav-toggle {
  background-color: transparent;
  border: 0;
  color: inherit;
  height: 30px;
  padding: 0;
  position: absolute;
  right: 20px;
  top: 25px;
  transform-origin: center;
  transition: all $timing__default;
  width: 30px;

  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
    color: inherit;
  }

  &.hide {
    opacity: 0;
    visibility: hidden;
  }

  .overlay-open & {
    color: $color__text-main;
  }

  .overlay-dark.overlay-open & {
    color: $color__white;
  }
}

.search-toggle {

  &.has-sidebar {
    right: 70px;
  }

  &.toggle-on {
    right: 20px;
  }
}

.chapter-toggle,
.filter-toggle {
  right: 120px;

  &.toggle-on {
    right: 20px;
  }
}

.filter-toggle {
  display: none;

	// Class added by js
	.algolia-search & {
		display: inline-block;

		@include min-width($breakpoint__tablet-portrait) { // $breakpoint__tablet-landscape
			display: none;
		}
	}
}

body.overlay-open {
  overflow: hidden;
}

.overlay {
  @include rem(font-size, 1.5);
  @include scrollbar(darken($color__background-light, 25%));

  background-color: $color__background-light;
  bottom: 0;
  color: $color__text-main;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 60px 0;
  position: fixed;
  top: 0;
  transform: scale(2);
  transition: all $timing__default;
  visibility: hidden;
  width: 100%;
	z-index: $z-index__default + 2;

	.aesop-sticky-map & {
	  z-index: 121;
	}

  .overlay-dark & {
    @include scrollbar(lighten($color__background-dark, 25%));

    background-color: $color__background-dark;
    color: $color__white;
  }

  &.show {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }

  body.admin-bar & {
    top: $height__wp-top-bar-mobile;

    @include min-width($breakpoint__wp-top-bar) {
      top: $height__wp-top-bar-desktop;
    }
  }

  > * {
    @include site-width($content__width-narrow);
  }

  li {
    border-top: 1px solid $color__border;
    padding: 10px 0;

    &:first-child {
      border: 0;
      margin-top: 10px;
    }

    &:last-child {
      padding-bottom: 0;
    }

    li:first-child {
      border-top: 1px solid $color__border;

      .overlay-dark & {
        border-color: darken($color__border, 25%);
      }
    }

    .overlay-dark & {
      border-color: darken($color__border, 25%);
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      color: darken($color__text-main, 10%);

      .overlay-dark & {
        color: darken($color__white, 10%);
      }
    }
  }

  .main-navigation {

    a {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .widget {
    margin-top: 3em;

    &:last-child {
      margin-bottom: 3em;
    }
  }

  .widget-title {
  	margin-top: 2em;
  }
}

.overlay--search {

  > * {
    @include site-width($content__width-small);
  }

  .search-form {
    top: 20%;
  }

  .search-field {
    font-size: 40px;
  }
}

.overlay--video {
  padding: 85px 0 0;

  video,
  iframe {
    bottom: 0;
    display: block;
    height: 56.25vw;
    left: 0;
    margin: auto;
    max-height: calc(100vh - 60px);
    max-width: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: $z-index__default;
  }
}

.overlay--chapter {
  font-size: 8vmin;
  text-align: center;

  .scroll-nav {
    max-width: $content__width-large;
  }

  .scroll-nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .scroll-nav__item {
    border: 0;
  }
}
