.container {
	@include site-width; // Default width is the normal column size

	&.narrow {
		max-width: $content__width-narrow;
	}

	&.small {
		max-width: $content__width-small;
	}

	&.large {
		max-width: $content__width-large;
	}
}

.grid-container {
	padding-left: ($neat-grid-gutter / 2);
	padding-right: ($neat-grid-gutter / 2);
}

.grid-row {
	@include grid-container;

	margin-left: -($neat-grid-gutter / 2);
	margin-right: -($neat-grid-gutter / 2);
}

[class^="grid-col-"] {
	padding-left: ($neat-grid-gutter / 2);
	padding-right: ($neat-grid-gutter / 2);
}

@for $i from 1 through 12 {

    .grid-col-#{$i} {
    	@include grid-column($i);
    }
}

@for $i from 1 through 12 {
	@include min-width($breakpoint__tablet-portrait) {

		.grid-col-sm-#{$i} {
	    	@include grid-column($i);
	    }
	}
}

@for $i from 1 through 12 {
	@include min-width($breakpoint__tablet-landscape) {

		.grid-col-md-#{$i} {
	    	@include grid-column($i);
	    }
	}
}

@for $i from 1 through 12 {
	@include min-width($breakpoint__desktop) {

		.grid-col-lg-#{$i} {
	    	@include grid-column($i);
	    }
	}
}
