.container {
	@include site-width; // Default width is the normal column size

	&.narrow {
		max-width: $content__width-narrow;
	}

	&.small {
		max-width: $content__width-small;
	}

	&.large {
		max-width: $content__width-large;
	}
}

.grid-row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -$grid-gutter;
	margin-right: -$grid-gutter;

	&.no-gutter {
		margin-left: auto;
		margin-right: auto;
	}
}

.grid-col {
	@include grid-column;

	flex: 1;
}

@for $i from 1 through $grid-columns {

	.grid-col-#{$i} {
		@include grid-column;

		width: percentage($i / $grid-columns);
	}
}

@for $i from 1 through $grid-columns {
	@include min-width($breakpoint__tablet-portrait) {

		.grid-col-sm-#{$i} {
	    	width: percentage($i / $grid-columns);
	    }
	}
}

@for $i from 1 through $grid-columns {
	@include min-width($breakpoint__tablet-landscape) {

		.grid-col-md-#{$i} {
	    	width: percentage($i / $grid-columns);
	    }
	}
}

@for $i from 1 through $grid-columns {
	@include min-width($breakpoint__desktop) {

		.grid-col-lg-#{$i} {
	    	width: percentage($i / $grid-columns);
	    }
	}
}
