html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

/*--------------------------------------------------------------
## Site Content
--------------------------------------------------------------*/
.site-content {
	@include clearfix;

	.home:not(.has-featured-image):not(.has-featured-post):not(.page) &,
	.blog:not(.has-featured-post) & {
		margin-top: $height__nav-bar;
	}
}

/*--------------------------------------------------------------
## Grid
--------------------------------------------------------------*/
@import "grid";

/*--------------------------------------------------------------
## Posts
--------------------------------------------------------------*/
@import "posts";

/*--------------------------------------------------------------
## Pages
--------------------------------------------------------------*/
@import "pages";
