.page-header {
	background-color: $color__accent;
	color: $color__white;
	margin: 0;
	padding: 150px 0 100px;
	position: relative;

	a:not(.button) {
		@include link;

		color: inherit;
		text-decoration: none;

		&:focus,
		&:active,
		&:hover {
			color: inherit;
		}
	}

	.button {
		background-color: $color__white;
		border-color: $color__white;
		color: $color__text-main;

		&:hover {
			background-color: darken($color__white, 10%);
			border-color: darken($color__white, 10%);
		}

		&.default {
			color: $color__white;
		}

		&.ghost {
			background-color: transparent;
			color: $color__white;

			&:hover {
				background-color: $color__white;
				color: $color__text-main;
			}

			&.default {
				@include button-style($color__accent, true);
			}
		}
	}

	.has-featured-image & {
		background-color: $color__background-dark;
		min-height: 100vh;
		padding-bottom: 75px;
		padding-top: 40vh;
	}

	hr {
		background-color: $color__white;
	}
}

.page-header__image {
	background-position: center;
	background-size: cover;
	bottom: 0;
	left: 0;
	opacity: 0.6;
	position: absolute;
	right: 0;
	top: 0;

	.featured-content & {
		background-image: none;
	}
}

.page-header__content {
	@include site-width(none); // no max width

	position: relative;

	.featured-content & {
		max-width: $content__width-large;
	}

	> hr {
		margin-left: auto;
		margin-right: auto;
		max-width: $content__width-narrow;
	}
}

a.page-header__scroll-to-content {
	@include rem(font-size, 2.5);

	bottom: 0;
	display: inline-block;
	left: 0;
	line-height: 75px; // matches bottom padding of container
	position: absolute;
	right: 0;
	text-align: center;

	&:focus {
		outline: none;
	}

	.page-header & {
		border: 0;
	}
}

.page-title:not(#algolia-search-box) {
	@include word-wrap;

	font-family: $font__family-heading;
	font-size: 12vmin;
	font-weight: $font__weight-heading;
	line-height: 15vmin;
	margin-bottom: 0;
	margin-top: 0;
	transition: font $timing__default;
}

.page-description {
	margin-left: auto;
	margin-right: auto;
	max-width: $content__width-large;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
