.sticky {
	background-color: $color__white; // Required to pass validation
}

.hentry {
	background-color: $color__white;
	color: $color__text-main;
	padding: 50px 0;
	position: relative;

	.single &,
	.page &,
	.attachment & {
		padding-top: 0;
	}

	.home-featured-posts &,
	.home-latest-posts & {
		padding-top: 50px;
	}

	.timeline & {
		padding-bottom: 0;
	}

	.featured-content & {
		background-color: $color__background-dark;
		color: $color__white;
	}

	&:after {
		background-color: $color__border;
		bottom: 0;
		content: "";
		height: 1px;
		left: 0;
		margin: auto;
		max-width: $content__width-narrow;
		position: absolute;
		right: 0;
		width: 90%;

		.single &,
		.page &,
		.featured-content & {
			display: none;
		}

		.home-latest-posts & {
			display: block;
		}
	}

	&:last-of-type:after {
		display: none;
	}
}

.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-summary > *,
.entry-content > * {
	line-height: $font__line-height-content;
}

.entry-summary {
	margin: 30px 0 0;

	.entry-header & {
		width: 100%;
	}

	blockquote,
	blockquote.wp-block-quote,
	blockquote.wp-block-quote.is-style-large {
		margin: 0;
		width: 100%;

		p,
		cite {
			color: $color__text-main;
			font-size: 1.25rem;
			font-style: normal;
			line-height: 38px;
			text-align: left;
		}
	}
}

.entry-header,
.entry-summary,
.entry-footer {
	@include site-width;
}

.entry-header {

	body.single & {
		padding-top: 50px;
	}
}

.entry-featured-image {
	@include site-width($content__width-large);

	margin-bottom: 1.5em;
	overflow: hidden;
	position: relative;

	a {
		color: $color__white;
		display: block;
		transition: all $timing__default;

		&:hover,
		&:focus,
		&:active {
			color: $color__white;
			opacity: 0.9;
		}
	}

	.post-format-icon {
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 50%;
		bottom: 0;
		height: 4rem;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
		width: 4rem;

		@include min-width($breakpoint__desktop) {
			height: 6rem;
			width: 6rem;
		}
	}

	.svg-icon {
		bottom: 0;
		height: 2rem;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
		width: 2rem;

		@include min-width($breakpoint__desktop) {
			height: 3rem;
			width: 3rem;
		}

		use,
		.icon-accent & use {
			stroke: currentColor;
		}
	}
}

.entry-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5px;
	display: block;
	padding-top: 75%;

	@include min-width($breakpoint__tablet-portrait) {
		padding-top: 35%;
	}
}

.entry-title {
	@include word-wrap;

	color: $color__text-main;
	font-family: $font__family-heading;
	font-size: 2rem;
	font-weight: $font__weight-heading;
	margin-bottom: 0;
	margin-top: 0;

	.featured-content & {
		font-size: 2.5rem;
		line-height: 3rem;

		@include min-width($breakpoint__tablet-portrait) {
			font-size: 3.5rem;
			line-height: 4rem;
		}
	}

	.featured-content & {
		color: $color__white;
	}

	a {
		@include link;

		color: inherit;
		text-decoration: none;
		transition: color $timing__default;

		&:hover {
			color: $color__accent;

			.featured-content & {
				border-color: transparent;
				color: inherit;
			}
		}
	}
}

.entry-meta {
	margin-top: 10px;

	a {
		color: inherit;

		&:hover {
			color: inherit;
		}
	}

	.page-header & {
		margin-top: 1.5em;
		text-align: center;
	}

	.entry-content {
		@include site-width;
	}
}

.posted-on {
	display: inline-block;
}

.entry-content {
	@include clearfix;

	padding-top: 60px;

	&:empty {
		padding: 0;
	}

	.no-header & {
		padding-top: 0;
	}

	.not-found & {
		padding-bottom: 60px;
	}

	> h1,
	> h2,
	> h3,
	> h4,
	> h5,
	> h6,
	> p,
	> ol,
	> ul,
	> dl,
	> table,
	> address,
	> pre > code,
	> blockquote,
	> .page-links,
	> .cp_embed_wrapper {
		@include site-width;
	}

	> h1,
	> h2,
	> h3,
	> h4,
	> h5,
	> h6 {
		font-family: $font__family-heading;
		font-weight: $font__weight-heading;
	}

	> blockquote {
		border-left: 5px solid $color__accent;
		padding-left: 1.5em;
	}

	> hr {
		@include site-width($content__width-narrow);
	}

	> .wp-caption {
		max-width: 100%;
	}

	> .twitter-tweet {
		max-width: 90% !important; // Overrides Twitter's max-width: 100%
	}

	> p:first-of-type {
		font-size: 125%;

		.panel & {
			font-size: 100%;
		}
	}

	pre {

		> code {
			@include scrollbar(lighten($color__background-dark, 25%));

			overflow: auto;
		}
	}
}

.twitter-tweet {
	margin-left: auto;
	margin-right: auto;
}

.entry-meta a,
.entry-summary a:not(.button),
.entry-content a:not(.button),
.entry-footer a {
	@include link;
}

.entry-footer {

	.single & {
		padding-top: 50px;
	}

	.timeline & {
		padding-top: 0;
	}
}

.entry-excerpt {
	font-size: 125%;
	margin-left: auto;
	margin-right: auto;
	max-width: $content__width-normal;
	transition: font $timing__default;

	blockquote,
	blockquote.wp-block-quote,
	blockquote.wp-block-quote.is-style-large {
		color: inherit;
		font-family: $font__family-heading;
		font-size: 2.25rem;
		font-weight: $font__weight-heading;
		line-height: 2rem;
		margin: auto;
		text-align: center;
		width: 100%;

		p {
			color: inherit;
			font-size: inherit;
			font-style: normal;
			line-height: 3rem;
			text-align: inherit;
		}

		cite {
			color: inherit;
			font-family: $font__family-main;
			font-size: 1.5rem;
			font-weight: $font__weight-normal;
			opacity: 0.9;
			text-align: inherit;
		}
	}

	&.has-quotes {
		position: relative;

		&:before,
		&:after {
		    background-image: url("./dist/img/quote.svg");
		    background-position: center;
		    background-size: contain;
		    content: "";
		    display: block;
		    height: 2em;
		    opacity: 0.5;
		    position: absolute;
		    width: 2em;
		}

		&:before {
			bottom: 100%;
			left: 0;
			margin-bottom: 0.5em;
			transform: rotateX(180deg);

			@include min-width($content__width-large) {
				left: auto;
				right: 100%;
			}
		}

		&:after {
			margin-top: 0.25em;
			right: 0;
			top: 100%;
			transform: rotateY(180deg);

			@include min-width($content__width-large) {
				left: 100%;
				right: auto;
			}
		}
	}
}

.author,
.page-header .author {

	.author-text {
		border-bottom: 1px solid transparent;
		transition: border $timing__default;
	}

	.url {
		border: 0;

		&:hover {
			border: 0;

			.author-text {
				border-color: $color__border;
			}
		}
	}
}

.posted-on,
.page-header .posted-on {
	margin-left: 1.5em;

	a:not(.button) {
		border: 0;

		.entry-date,
		.updated {
			border-bottom: 1px solid transparent;
			transition: border $timing__default;
		}

		&:hover {
			border: 0;

			.entry-date,
			.updated {
				border-color: $color__border;
			}
		}
	}
}

.profile {
	margin-bottom: 1.5em;
	min-height: 80px;
}

.profile-avatar {

	.single & {
		position: absolute;
	}

	.author-link:hover {
		border-color: transparent;
	}
}

.profile-name {
	font-weight: $font__weight-normal;
	margin: 0;
}

.profile-info,
.profile-bio {
	margin-left: 100px;
}

.entry-summary .page-links > a,
.entry-content .page-links > a {
	@include button;
	@include button-style($color__accent);
}

.icon-link {
	padding-left: 35px;
	position: relative;
}
