$font__heading: "Montserrat", sans-serif;
$font__main: "Open Sans", sans-serif;
$font__code: "Source Code Pro", monospace;
$font__pre: "Source Code Pro", monospace;

$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__weight-normal: 400;
$font__weight-bold: 700;
