$font__family-heading: "Montserrat", sans-serif;
$font__family-main: "Open Sans", sans-serif;
$font__family-code: "Source Code Pro", monospace;

$font__line-height-main: 1.5;
$font__line-height-code: 1.6;

$font__weight-heading: 400;
$font__weight-normal: 300;
$font__weight-bold: 700;
