@mixin tcon-menu-lines {
  background-color: $tcon-menu-color;
  border-radius: $tcon-menu-radius;
  display: inline-block;
  height: ($tcon-size / 6);
  transition: $tcon-transition;
  width: $tcon-size;
}

@mixin search-item {
  background-color: transparent;
  border-radius: 0;
  display: inline-block;
  height: $tcon-search-size;
  transition: $tcon-transition;
  width: $tcon-search-size;
}
