// Globally hidden elements when Infinite Scroll is supported and in use.
.infinite-scroll .posts-navigation, // Older / Newer Posts Navigation (always hidden)
.infinite-scroll.neverending .site-footer { // Theme Footer (when set to scrolling)
	display: none;
}

/*
 * When Infinite Scroll has reached its end we need to re-display elements that
 * were hidden (via .neverending) before.
 */
.infinity-end.neverending .site-footer {
	display: block;
}

.infinite-loader {
	height: auto !important; // overrides jetpack css

	.spinner {
		animation-duration: 0.75s;
		animation-iteration-count: infinite;
		animation-name: spin;
		animation-timing-function: linear;
		border: 5px solid $color__border;
		border-radius: 50%;
		border-top-color: $color__accent;
		height: 50px;
		left: auto !important; // overrides inline style
		margin: auto;
		top: 15px !important; // overrides inline style
		width: 50px !important; // overrides inline style

		div {
			display: none;
		}
	}
}

#infinite-footer {
	display: none;
}
