ul,
ol {
	margin: 0 0 30px 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 20px;
}

dt {
	font-weight: $font__weight-bold;
}

dd {
	margin: 0 1.5em 30px;
}
