img {
	height: auto; // Make sure images are scaled correctly.
	max-width: 100%; // Adhere to container width.
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

// Make sure embeds and iframes fit their containers.
embed,
iframe,
object {
	max-width: 100%;
}

.wp-caption {
	margin-bottom: 3em;
	margin-top: 3em;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 10px 0 0;
	}
}

.wp-caption-text {
	@include caption;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";
