body,
button,
input,
select,
textarea {
	@include rem(font-size, 1.25);

	color: $color__text-main;
	font-family: $font__family-main;
	line-height: $font__line-height-main;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	@include word-wrap;

	line-height: 38px;
	margin: 0 0 30px;

	&:last-child {
		margin-bottom: 0;
	}
}

dfn,
cite,
em,
i {
	font-style: italic;
}

dfn,
cite {
	font-size: 85%;
}

address {
	margin: 0 0 1.5em;
}

code,
kbd,
tt,
var {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	font-family: $font__family-code;
	padding: 2px 4px;
}

pre {
	background-color: $color__background-pre;
	color: $color__white;
	font-family: $font__family-code;
	line-height: $font__line-height-code;
	margin-bottom: 30px;
	max-width: 100%;
	overflow: auto;
	padding: 20px 0;

	code {
		background-color: transparent;
		display: block;
		padding: 0;
	}
}

abbr,
acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark,
ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

blockquote,
q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}
