.widget {
	@include word-wrap;

	margin: 0 0 3em;

	&:last-child {
		margin: 0;
	}

	ul {
    	list-style: none;
    	margin-bottom: 0;
    	margin-left: 0;
    	padding: 0;
    }

    li {
	  border-top: 1px solid $color__border;
	  padding: 10px 0;

	  &:first-child {
	    border: 0;
	    margin-top: 10px;
	  }

	  &:last-child {
	    padding-bottom: 0;
	  }

	  li:first-child {
	    border-top: 1px solid $color__border;

	    .overlay-dark .overlay &,
	    .footer-dark .site-footer &,
	    .footer-accent .site-footer & {
	      border-color: darken($color__border, 25%);
	    }
	  }

	  .overlay-dark .overlay &,
	  .footer-dark .site-footer &,
	  .footer-accent .site-footer & {
	    border-color: darken($color__border, 25%);
	  }
	}

	a:not(.button) {
	  color: inherit;
	  text-decoration: none;

	  &:hover,
	  &:focus,
	  &:active {
	    color: darken($color__text-main, 10%);

	    .overlay-dark .overlay &,
	    .footer-dark .site-footer &,
	  	.footer-accent .site-footer & {
	      color: darken($color__white, 10%);
	    }
	  }
	}

	.button:not(.default) {

		.overlay-dark .overlay &,
		.footer-dark .site-footer &,
	  	.footer-accent .site-footer & {
			border-color: $color__white;
			color: $color__white;

			&:hover {
				background-color: $color__white;
				color: $color__text-main;
			}
		}
	}

	select {
		max-width: 100%; // Make sure select elements fit in widgets.
	}
}

.widget-title {
	color: #999;
	font-family: $font__family-heading;
	font-weight: $font__weight-heading;
	margin: 0 0 0.5em;
}

.recentcomments a {
	color: lighten($color__text-main, 10%);

	.overlay-dark .overlay &,
	.footer-dark .site-footer &,
	.footer-accent .site-footer & {
		color: darken($color__white, 10%);
	}

	&:hover {
		color: $color__text-main;

		.overlay-dark .overlay &,
		.footer-dark .site-footer &,
	  	.footer-accent .site-footer & {
	    	color: $color__white;
	  	}
	}
}

.cat-item {

	a {
		display: block;
	}

	.children {
		height: 0;
		overflow: hidden;

		&.sub-on {
			height: auto;
		}
	}
}

.calendar_wrap {

	a {
		@include link;
	}

	thead {
		border-bottom: 2px solid $color__border;
	}

	tbody {

		tr {

			&:nth-child(even) {
				background-color: $color__gray;

				.overlay-dark .overlay &,
				.footer-dark .site-footer &,
	  			.footer-accent .site-footer & {
					background-color: #444;
				}
			}
		}

		td {
			text-align: right;
		}

		a {
			color: $color__accent;
		}
	}

	#next {
		text-align: right;
	}
}

.widget_pages {

	.children {
		box-shadow: none;
		height: 0;
		overflow: hidden;
		top: auto;
		width: 100%;

		&.sub-on {
			height: auto;
		}
	}
}
